@font-face {
  font-family: 'font-1';
  src: url(../assets/fonts/Dongle-Regular.ttf);
}
@font-face {
  font-family: 'font-2';
  src: url(../assets/fonts/Dongle-Light.ttf);
}

$font-1: 'font-1', sans-serif;
$font-2: 'font-2', sans-serif;

$color-1: #546fe4;
$color-2: #212040;
$color-3: rgb(100, 100, 100);
$black: #060d2c;
$white: rgb(238, 238, 238);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
  list-style: none;
  text-decoration: none;
}

body {
  background: $color-2;
  color: $white;
}

li {
  color: $white;
}

.btn {
  background-color: $color-1;
  font-family: $font-2;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 5px;
  border-radius: 10px;
  color: $white;
  border: none;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus-visible {
    background-color: $white;
    color: $color-1;
  }
  &:active {
    transform: scale(0.9);
  }
}

.NoData {
  text-align: center;
  font-size: 2.5rem;
}
