.card-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  min-width: 260px;
  max-width: 280px;
  height: 600px;
  border-radius: 20px;
  background: darken($color-2, 7);
  position: relative;

  .img-content {
    width: 70%;
    height: 230px;
    margin: 20px auto 0;
    border-radius: 30px;
    background: lighten($color-2, 10);
    position: relative;
    z-index: 2;

    &:after {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      background: rgba(33, 32, 64, 0.7);
      z-index: 0;
    }

    img {
      position: relative;
      width: 100%;
      height: 221px;
      object-fit: cover;
      border-radius: 30px;
      z-index: 3;
    }
  }

  .infos-content {
    margin: 10px 10px 0 10px;
  }
  h4 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 15px;
    height: 50px;
    overflow: hidden;
  }
  p {
    color: $color-3;
  }

  p:first-of-type {
    letter-spacing: 1px;
  }

  p:nth-of-type(2) {
    color: $white;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  p:nth-of-type(3) {
  
    line-height: 18px;
    min-height: 105px;
    font-size: 1.2rem;
    overflow-y: scroll;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      background: darken($color-2, 7);
      background: linear-gradient(
        180deg,
        rgba(255, 96, 96, 0) 65%,
        darken($color-2, 7) 100%
      );
    }
  }

  span {
    position: relative;
  }

  i {
    position: absolute;
    color: yellow;
    font-size: 0.5rem;
    top: 6px;
    right: -15px;
  }

  .genres-list {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    li {
      color: $white;
      background: lighten($color-2, 5);
      padding: 0 5px;
      border-radius: 20px;
    }
  }

  .btn {
    position: absolute;
    width: 65%;
    bottom: 15px;
    left: 50%;
    font-size: 1.2rem;
    transform: translateX(-50%);
    &:active {
      transform: translateX(-50%) scale(0.9);
    }
  }
}
